@charset 'utf-8'


.product .product_introduce li a{
	color: #ccc;
}

.product_introduce a:hover{
	color: #f60;
}

.product_introduce img{
	width: 100%;
}

.product_introduce .p_i_a p{
	background: #fff;
	padding: 10px;
	position: relative;
	padding-bottom: 20px;
}

.l_more{
	position: absolute;
	right: 10px;
	bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 25px;
	padding: 5px;
}

.product_introduce li{
	margin-bottom: 10px;
}
.font12{
	font-size: 12px;
}